.container{
    background-color: rgb(160, 144, 144);
    border-radius: 20px;
    width: 50%;
    height: auto;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    padding:20px;
}
#input{
    background-color: aliceblue;
    width:50%;
    height:10%;
    margin:2%;
    padding:2%;
    font-size: large;
}
.btn{
    width:50%;
    height:10%;
    margin:2%;
    padding:2%;
    font-size: large;

}
#result{
    background-color: rgba(46, 86, 103, 0.551);
    width:20%;
    height:50px;
    margin-left:40%;
    margin-top:5%;
    margin-bottom:5%;
    text-align: center;
    padding:2%;
    font-size: large;
}