*{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}
.nav{
    width:100%;
    height:50px;
    background-color: black;
}
span{
    color:yellow;
    font-size: 1.5rem;
    padding-left: 20px;
    line-height:50px;
}
.nav ul{
    float: right;
    margin-right: 20px;
}
.nav ul li{
    display: inline-block;
    margin:0 10px;
    line-height:50px;
    
}
.nav ul li a{
    color: white;
    padding:15px 10px;
}
.nav ul li a:hover{
    background-color: rgb(43, 47, 47);
    color:brown;    
}

@media(max-width:768px){
    .nav ul{
        position: fixed;
        left: -100%;        
        width:100%;
        height:100vh;
        background-color: rgb(176, 114, 32);
        text-align: center;
        padding:0;
        top:50px;
        /* transition: 2s; */
    }
    nav ul.slide   {
        left: 0;
        transition: 2s;
    }
    .nav ul li{
        display:block;
        width:100%;
        margin:0;
    
    }
    .nav ul li a{
        color:rgb(64, 55, 99);

    }
    .nav ul li:hover{
        background-color: antiquewhite;
    }
    .nav ul li a:hover{
        background-color: rgb(82, 141, 93);
        color:black;
    }

    
    .hamburger{
        float:right;
        padding-right:10px;
        padding-top: 8px;
    }
    .hamburger .line{
        width:15px;
        height:5px;
        background-color: white;
        display: block;
        margin:5px ;
    }
}